/* Application-wide Styles */
:root{
  --primary-color: #fdbb40;
  --secondary-color: #4e4c4c;
  --secondary-color-light: #615d5d;
  --highlight-color: #42545C;
  --primary-text-color: white;
  --secondary-text-color: #ccc;
}

h1 {
  color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #ffd17a;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}

button {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--primary-text-color);
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  background-color: var(--highlight-color);
  color: var(--primary-text-color);
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

body {
  background-color: #111;
  color: #fff;
}

nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: var(--secondary-color);
  color: #ffffff;
  border-radius: 4px;
  font-weight: bold;
}

nav a:hover {
  color: white;
  background-color: var(--highlight-color);
}
nav a:active {
  background-color: black;
}

input {
  padding: .5rem;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  display: block;
  color: var(--primary-text-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color-light);
}

::placeholder {
  color: whitesmoke;
}

input:focus {
  outline: var(--primary-color) auto 1px;
}

.search-result li a {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  display: inline-block;
  width: 100%;
  max-width: 600px;
  padding: .5rem;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--primary-text-color);
  background-color: var(--secondary-color-light);
}

.search-result li a:hover {
  background-color: #435A60;
  color: white;
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
}

label {
  display: block;
  color: var(--primary-text-color);
  font-weight: bold;
  margin-top: 10px;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
